/* intuitivnejší box-sizing */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
	BARVY
	#f5f5f5					šedé pozadí stránky
	#629fe0					modrá čárka
	Jedeme retro černobíle (až na tu modrou), dnes další barvy nepotřebujeme.

	FONTY
	Merriweather		základní font na stránce
	Raleway					nadpisy a menu
	Oba fonty jsou dostupné na Google Fonts.
*/

:root 
{
	--seda: #f5f5f5;
	--modra: #629fe0;
}

body {
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
	font-size: 16px;
	line-height: 1.6;
	font-family: "Merriweather", sans-serif;
}

header
{
	padding: 15px 30px;
	background-image: linear-gradient(#0005, #0005), url(images/island-hlavicka.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	font-family: "Raleway", sans-serif;
	text-align: center;
}

header p:nth-of-type(2)
{
	font-weight: bold;
	font-style: italic;
	opacity: 0.8;
}

header p:nth-of-type(2)::before
{
	content: "";
	display: block;
	margin: 0 auto 10px auto;
	width: 15%;
	border-bottom: 1.5px solid white;
}

.navigation
{
	list-style: none;
	padding: 0 30px;
}

.navigation li
{
	text-align: center;
	border-bottom: 0.5px solid gray;
}

.navigation a
{
	color: gray;
	text-decoration: none;
	text-transform: uppercase;
	font-family: "Raleway", sans-serif;
	opacity: 0.8;
}

.paragraph
{
	padding: 30px;
}

h2
{
	margin-bottom: 15px;
}

h2::after
{
	content: "";
	display: block;
	margin: 15px 0 0 -30px;
	width: 20%;
	border-top: 3px solid var(--modra);
}

.photo-description,
.photo-description a,
.photogalery p,
.photogalery a
{
	color: gray;
	text-align: center;
}

img
{
	width: 100%;
}

.photogalery
{
	box-shadow: 0px 15px 15px #c1c1c1
}

.photogalery h2
{
	padding-left: 30px;
}

.photogalery p::first-line
{
	font-weight: bold;
}

footer
{
	padding: 15px 30px 0 30px;
	color: gray;
}

footer a
{
	color: gray;
	text-decoration: none;
}